<filepath="NTSC_WIFI.png" id="load0" colfmt=14 />
<filepath="NTSC_0.png" id="load1" colfmt=14 />
<filepath="NTSC_1.png" id="load2" colfmt=14 />
<filepath="NTSC_2.png" id="load3" colfmt=14 />
<filepath="NTSC_3.png" id="load4" colfmt=14 />
