<filepath="PAL_SD.png" id="load0" colfmt=14 />
<filepath="PAL_0.png" id="load1" colfmt=14 />
<filepath="PAL_1.png" id="load2" colfmt=14 />
<filepath="PAL_2.png" id="load3" colfmt=14 />
<filepath="PAL_3.png" id="load4" colfmt=14 />
